/* =============================================
   general setup
   ============================================= */
/* =============================================
   html
   ============================================= */
html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/* =============================================
   body
   ============================================= */
body {
  box-sizing: inherit;
  font-size: 100%;
  height: 100%;
  width: 100%;
}

/* =============================================
   all elements
   ============================================= */
*,
*::before,
*::after {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/* =============================================
   for text-elements
   ============================================= */
.text1 {
  color: red;
  background: #ffe6e6;
  margin: 1.3rem;
}

.text2 {
  color: #00a400;
  background: #71ff71;
  margin: 1.3rem;
}

.text3 {
  color: #0000cc;
  background: #6666ff;
  margin: 1.3rem;
}

.text4 {
  color: #009999;
  background: aqua;
  margin: 1.3rem;
}

/* =============================================
   for small screen
   ============================================= */
/* =============================================
   .body-navbar-btn
   ============================================= */
.body-navbar-btn {
  display: none;
}

.body-navbar-btn:checked ~ .body-navbar-btn-label > .body-navbar-icn {
  background: transparent;
  transition: 0.4s;
}

.body-navbar-btn:checked ~ .body-navbar-btn-label > .body-navbar-icn::before {
  top: 0;
  transform: rotate(-35deg);
  transition: 0.4s;
}

.body-navbar-btn:checked ~ .body-navbar-btn-label > .body-navbar-icn::after {
  top: 0;
  transform: rotate(35deg);
  transition: 0.4s;
}

.body-navbar-btn:checked ~ .body-navbar {
  display: block;
}

/* =============================================
   body-header
   ============================================= */
.body-header {
  background: #345600;
}

/* =============================================
   logo
   ============================================= */
.logo {
  color: white;
  padding: 2em;
  font-weight: bold;
  font-style: italic;
}

/* =============================================
   body-navbar-btn-label
   ============================================= */
.body-navbar-btn-label {
  position: absolute;
  top: 2.5em;
  right: 2em;
}

/* =============================================
   body-navbar-icn
   ============================================= */
.body-navbar-icn {
  display: block;
  position: relative;
  width: 2em;
  height: 0.2em;
  border-radius: 1em;
  background: white;
  transition: 0.4s;
}

.body-navbar-icn::before,
.body-navbar-icn::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  background: white;
  transition: 0.4s;
}

.body-navbar-icn::before {
  top: -0.5em;
}

.body-navbar-icn::after {
  top: 0.5em;
}

/* =============================================
   body-navbar
   ============================================= */
.body-navbar {
  background: #345600;
  padding: 2em 0;
  display: none;
}

/* =============================================
   body-navbar-list
   ============================================= */
.body-navbar-list {
  text-align: center;
}

/* =============================================
   navbar-link
   ============================================= */
.navbar-link {
  display: block;
  color: white;
  padding: 1em;
  width: 6em;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar-link:hover {
  background: #456dff;
  border-radius: 4em;
  transition: 0.4s;
}

/* =============================================
   body-main
   ============================================= */
.body-main {
  clear: both;
  text-align: center;
  margin: 1em 0;
}

/* =============================================
   animation-section
   ============================================= */
.animation-section {
  display: block;
  margin: 5rem;
}

/* =============================================
   rotate-element
   ============================================= */
.rotate-element {
  display: block;
  width: 12rem;
  height: 2rem;
  border-radius: 2rem;
  background: red;
  animation-name: rotate-endless;
  animation-timing-function: linear;
  animation-duration: 0.8s;
  animation-delay: 0.8s;
  animation-iteration-count: infinite;
}

@keyframes rotate-endless {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* =============================================
   text4-element
   ============================================= */
.text4-element {
  background: #e6e6e6;
  padding: 1.5rem;
  margin: 1.4rem 0;
}

/* =============================================
   body-footer
   ============================================= */
.body-footer {
  text-align: center;
  background: #006666;
  padding: 1.5rem;
}

/* =============================================
   for screen 40em
   ============================================= */
@media only screen and (min-width: 40em) {
  /* =============================================
     body-navbar-btn
     ============================================= */
  .body-navbar-btn:checked ~ .body-navbar > .body-navbar-list {
    display: flex;
  }

  /* =============================================
     body-navbar-btn-label
     ============================================= */
  .body-navbar-btn-label {
    display: none;
  }

  /* =============================================
     body-header
     ============================================= */
  .body-header {
    float: left;
  }

  /* =============================================
     logo
     ============================================= */
  .logo {
    padding: 1em;
  }

  /* =============================================
     body-navbar
     ============================================= */
  .body-navbar {
    display: block;
    padding: 0;
  }

  /* =============================================
     body-navbar
     ============================================= */
  .body-navbar-list {
    display: flex;
    justify-content: right;
  }

  /* =============================================
     navbar-link
     ============================================= */
  .navbar-link {
    display: block;
    padding: 1em;
    z-index: 0;
  }

  .navbar-link::before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform: scaleX(0%);
    z-index: -1;
    transition: all ease-in-out 0.4s;
  }

  .navbar-link:hover::before {
    display: block;
    transform: scaleX(20%);
    background: #00cd00;
  }
}

/*# sourceMappingURL=main.css.map */
