// some regular value

$color: white;
$transition-time: 0.4s;
$hover-color: #456dff;
$bgd-color: #345600; // bgd:=background-color
$spacing-padding: 2em;
$color1: red;
$color2: lighten(green, 40%);
$color3: darken(blue, 10%);
$colorgroup: $color1 1, $color2 2, $color3 3;

// part of css

/* =============================================
   general setup
   ============================================= */

/* =============================================
   html
   ============================================= */

html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* =============================================
   body
   ============================================= */

body {
    box-sizing: inherit;
    font-size: 100%;
    height: 100%;
    width: 100%;
}

/* =============================================
   all elements
   ============================================= */

*,
*::before,
*::after {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/* =============================================
   for text-elements
   ============================================= */

@each $text-color, $index in $colorgroup {
    .text#{$index} {
        color: $text-color;
    }
}

/* =============================================
   for small screen
   ============================================= */

/* =============================================
   .body-navbar-btn
   ============================================= */

.body-navbar-btn {
    display: none;
}

.body-navbar-btn:checked ~ .body-navbar-btn-label > .body-navbar-icn {
    background: transparent;
    transition: $transition-time;
}

.body-navbar-btn:checked ~ .body-navbar-btn-label > .body-navbar-icn::before {
    top: 0;
    transform: rotate(-35deg);
    transition: $transition-time;
}

.body-navbar-btn:checked ~ .body-navbar-btn-label > .body-navbar-icn::after {
    top: 0;
    transform: rotate(35deg);
    transition: $transition-time;
}

.body-navbar-btn:checked ~ .body-navbar {
    display: block;
}

/* =============================================
   body-header
   ============================================= */

.body-header {
    background: $bgd-color;
}

/* =============================================
   logo
   ============================================= */

.logo {
    color: $color;
    padding: $spacing-padding;
    font-weight: bold;
    font-style: italic;
}

/* =============================================
   body-navbar-btn-label
   ============================================= */

.body-navbar-btn-label {
    position: absolute;
    top: 2.5em;
    right: $spacing-padding;
}

/* =============================================
   body-navbar-icn
   ============================================= */

.body-navbar-icn {
    display: block;
    position: relative;
    width: 2em;
    height: 0.2em;
    border-radius: 1em;
    background: $color;
    transition: $transition-time;
}

.body-navbar-icn::before,
.body-navbar-icn::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    background: $color;
    transition: $transition-time;
}

.body-navbar-icn::before {
    top: -0.5em;
}

.body-navbar-icn::after {
    top: 0.5em;
}

/* =============================================
   body-navbar
   ============================================= */

.body-navbar {
    background: $bgd-color;
    padding: $spacing-padding 0;
    display: none;
}

/* =============================================
   body-navbar-list
   ============================================= */

.body-navbar-list {
    text-align: center;
}

/* =============================================
   navbar-link
   ============================================= */

.navbar-link {
    display: block;
    color: $color;
    padding: $spacing-padding - 1em;
}

.navbar-link:hover {
    background: $hover-color;
    border-radius: 4em;
    transition: $transition-time;
}

/* =============================================
   body-main
   ============================================= */

.body-main {
    clear: both;
    text-align: center;
    margin: 1em 0;
}

/* =============================================
   body-footer
   ============================================= */

.body-footer {
    clear: both;
    position: relative;
    top: 77vh;
    text-align: center;
}

/* =============================================
   for screen 40em
   ============================================= */

@media only screen and(min-width: 40em) {

/* =============================================
   body-navbar-btn
   ============================================= */

    .body-navbar-btn:checked ~ .body-navbar > .body-navbar-list{
        display: flex;
    }

/* =============================================
   body-navbar-btn-label
   ============================================= */

    .body-navbar-btn-label {
        display: none;
    }

/* =============================================
   body-header
   ============================================= */

    .body-header {
        float: left;
    }

/* =============================================
   body-navbar
   ============================================= */

    .body-navbar {
        display: block;
        width: 100%;
        padding: 0;
    }

/* =============================================
   body-navbar
   ============================================= */

   .body-navbar-list {
       display: flex;
       justify-content: right;
   }

/* =============================================
   navbar-link
   ============================================= */

   .navbar-link {
       display: block;
       padding: $spacing-padding;
   }
}

/* =============================================
   for screen 80em
   ============================================= */

@media only screen and(min-width: 80em) {

/* =============================================
   body-navbar-btn
   ============================================= */

.body-navbar-btn:checked ~ .body-navbar > .body-navbar-list{
    display: block;
}

/* =============================================
   body-header
   ============================================= */

.body-header {
    float: none;
    width: 10vw;
}

/* =============================================
   body-navbar
   ============================================= */

.body-navbar {
    display: block;
    width: 10vw;
    float: left;
    height: 100vh;
}

/* =============================================
   body-navbar-list
   ============================================= */

.body-navbar-list {
    display: block;
}

/* =============================================
   body-main
   ============================================= */

.body-main {
    display: block;
    float: left;
    width: 80vw;
    clear: none;
    height: 80vh;
}

/* =============================================
   body-footer
   ============================================= */

.body-footer {
    display: block;
    position: initial;
    float: left;
    width: 80vw;
    height: 0;
    clear: none;
}

}